<!DOCTYPE html>
<html>
    <head>
        <title>Department Rank</title>
    </head>

    <body>
        <h1>Institute Rank</h1>

        {% if categories %}
            <ol>
                {% for category in categories %}
                <li>{{ category.roll_number }} with CPI of {{category.cpi}}</li>
                {% endfor %}
            </ol>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        <br>
        <form id="add" method="get" action="/drirfinder/">
            <input type="submit" name="Display" value="Add More">
        </form>
       
    </body>
</html>